{% extends "layout.html" %}

{% block title %}Landing Page{% endblock %}
<!-- Page content -->
{% block main %}
<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
  <img class="w3-image" src="/static/images/radcam.jpg" alt="Architecture" width="1500" height="800">
  <div class="w3-display-middle w3-margin-top w3-center">
    <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding navy w3-opacity-min"><b>theOXREVIEW</b></span></h1>
  </div>
</header>

<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:46px">

  <!-- Intro Section -->
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
    <h2 class="w3-wide">WELCOME</h2>
    <p class="w3-opacity"><i>'word-of-mouth'-like content stored online for easier access</i></p>
    <p class="w3-justify">theOXREVIEW is a platform created for the student population of Oxford which digitalises the concept of word-of-mouth. In a similar way that you'd ask your college parents,
    use this to find out what optional modules would be best suited for you, and to find out which lecture courses have the best/worst lecturers.
    Find out where you could go within college for help with an academic or pastoral problem, and ask whatever question you want.
    theOXREVIEW aims to be a platform on which students can informally review tutors, lecture courses, and give
helpful advice to others in their year/in the years below, something that has been done by word of mouth before!
In order to be a helpful community, we need users
to also give advice/reviews as well, and encourage you to write about your experiences for the student community. All
reviews are submitted anonymously, but information about your Year of Study, Subject, and College, will be published
alongside each review you make. We've asked you to sign up with your Oxford email address. As with any platform where users are able to post whatever they'd like,
this needs to be moderated to an extent. Signing up with an @ox.ac.uk address ensures that only current students can actually leave reviews.</p>

  </div>


<!-- End Page Content -->
</div>
{% endblock %}
