<!DOCTYPE html>
<html lang="en">
<title>OXREVIEW | {% block title %}{% endblock %}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: "Lato", sans-serif;
color:white;}
h2, p{color:#141A77}
.mySlides {display: none}
.navy {background-color:#141A77}

</style>
<body>

<!-- Navbar -->
<div>
  <div class="w3-bar navy w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="{{ url_for('landingpage') }}" class="w3-bar-item w3-button w3-padding-large">theOXREVIEW</a>
<!--    <div class="w3-dropdown-hover w3-hide-small">
      <button class="w3-padding-large w3-button" title="Basic Info">Basic Info <i class="fa fa-caret-down"></i></button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="#" class="w3-bar-item w3-button">JCR and committee roles </a>
        <a href="#" class="w3-bar-item w3-button">College Structure </a>
      </div>
    </div> -->

    <div class="w3-dropdown-hover w3-hide-small">
      <button class="w3-padding-large w3-button" title="Academic">Academic <i class="fa fa-caret-down"></i></button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="{{ url_for('subject') }}" class="w3-bar-item w3-button">Subject Lecture Course Reviews</a>
    <!--    <a href="#" class="w3-bar-item w3-button">College Tutors</a> -->
        <a href="{{ url_for('departments') }}" class="w3-bar-item w3-button">General Department Reviews</a>
      </div>
    </div>
<!--
    <div class="w3-dropdown-hover w3-hide-small">
       <button class="w3-padding-large w3-button" title="Extra-Curricular">Extra-Curricular <i class="fa fa-caret-down"></i></button>
       <div class="w3-dropdown-content w3-bar-block w3-card-4">
         <a href="#" class="w3-bar-item w3-button">Within College </a>
         <a href="#" class="w3-bar-item w3-button">Clubs and Socs </a>
         <a href="#" class="w3-bar-item w3-button">Going out </a>
         <a href="#" class="w3-bar-item w3-button">Stash </a>
         <a href="#" class="w3-bar-item w3-button">Recruitment/Campus Events </a>
       </div>
     </div>
-->
    <a href="#question" class="w3-bar-item w3-button w3-padding-large">Post a question</a>
    <a href="{{ url_for('question') }}" class="w3-bar-item w3-button w3-padding-large">Questions</a>
    <a href="{{ url_for('logout') }}" class="w3-padding-large w3-hover-red w3-hide-small w3-right">Logout</a>
</div>


<!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
<div id="navDemo" class="w3-bar-block navy w3-hide w3-hide-large w3-hide-medium">
<!--  <a href="#band" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Basic Info</a> -->
  <a href="{{ url_for('subject') }}" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Subject Lecture Course Review</a>
  <a href="{{ url_for('departments') }}" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">General Department Reviews</a>
<!--  <a href="#contact" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Extra-Curricular</a> -->
  <a href="#question" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Post a question</a>
  <a href="{{ url_for('logout') }}" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Logout</a>
</div>



<!-- Page content -->
{% block main %}{% endblock %}

  <!-- The Contact Section -->


  <div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="question">
    <h3 class="w3-wide w3-center navy">Post a question</h3>
    <div class="w3-container w3-content">
      <p>The "post a question" section is for anyone to ask any sort of question. Fill out the category of
        question, the subject you do, your college, and your year, and fingers crossed someone with a similar experience
        might be able to give you some insight.
      </p>
    </div>
    <div class="w3-row w3-padding-32">
      <div class="w3-col 5">
        <form action="{{ url_for('postquestion') }}" method="post" class="w3-container w3-card-4 w3-padding-16 w3-white w3-center">
          <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
            <div class="form-group">

                  <label for="input-rating">Choose the category that best fits your question</label>
                  <select id="input-rating" class="form-control" name="category">
                    <option selected>Academic-Exams</option>
                    <option>Academic-Coursework</option>
                    <option>Academic-Tutorials</option>
                    <option>Academic-Essay Help</option>
                    <option>Academic-Tute Sheet Help</option>
                    <option>Academic-Further Study Applications</option>
                    <option>Other</option>

                  </select>
              </div>
            </div>
          <div class="form-group">
            <input class="w3-input w3-border" type="text" placeholder="Question" required name="question">
          </div>

          <button class="w3-button navy w3-section w3-right" style="color:white" type="submit">SEND</button>
        </form>
      </div>
    </div>
  </div>

<!-- End Page Content -->



<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
<a href="https://www.facebook.com/Oxreview-108267097523831/">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
  </a>
  <h3>we'd really appreciate if you emailed any errors (glitches or information errors) to:
  theoxreview@gmail.com </h3>
</footer>
</body>
</html>

<script>
  // Used to toggle the menu on small screens when clicking on the menu button //
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}

</script>
