{% extends "layout.html" %}
<style media="screen">
  table{  left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }
  .container4 {
    height: 10em;
    position: relative }
.container4 p {
    margin: 0;
    background: white;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }
</style>



{% block title %}Reviews{% endblock %}

{% block main %}
<header class="w3-container w3-center w3-padding-32">
<h1 style="color:#141A77" class="w3-padding-64">Lecture Course Info: {{ course_name.subject }}</h1>
</header>
<table class=" w3-centered w3-table-all container4" style="border: 3px solid black; color:black;">
<tr>
  <th class="col-md-3 w3-padding" >Lecture Course Name:</th>
  <th class="col-md-3 w3-padding">Lecturer:</th>
  <th class="col-md-3 w3-padding">Year Of Study:</th>
  <th class="col-md-3 w3-padding">Subject:</th>
</tr>
<tr>
  <td class="col-md-9 w3-padding">{{ course_name.course_name }}</td>

  <td class="col-md-9 w3-padding">{{ course_name.lecturer }}</td>

  <td class="col-md-9 w3-padding">{{ course_name.year_of_study }}</td>

  <td class="col-md-9 w3-padding">{{ course_name.subject }}</td>
</tr>



</table>

<h4 class="w3-center">Reviews</h4>
{% if reviews %}
<table class="table w3-table-all w3-centered w3-hoverable navy w3-padding-64" style="color:black">
    <thead class="thead-light">
      <tr class="w3-indigo">
        <th scope="col">Rating</th>
        <th scope="col">Review</th>
        <th scope="col">Academic Year of review</th>
        <th scope="col">Review submitted on</th>
      </tr>
      <tbody>
      {% for review in reviews %}
        <tr>
          <!-- <td>{{ review.name }}</td> -->
          <td>{{ review.rating }}</td>
          <td>{{ review.review }}</td>
          <td>{{ review.reviewdate }}</td>
          <td>{{ review.review_on }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </thead>
</table>
{% else %}
<p class="w3-center" style="color:black">
    <strong>There are no reviews yet, but why not add one?</strong>
</p>
{% endif %}
<div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
    <h3 class="w3-wide w3-center navy">Your Review</h3>
</div>
<div class="w3-container w3-theme-l5" id="contact">
      <p class="w3-padding">What do you think? Your opinion matters, because no matter if your experience was good, bad,
      or distinctly average, other students would really value knowing either way! </p>

      <form class="w3-container w3-card-4 w3-padding-16 w3-white w3-center" action="{{ url_for('course', course_id=course_name.id) }}" method="post">

      <div class="w3-section form-group" >
        <label for="input-review">Your Review</label>
        <input class="w3-input form-control" id="input-review" type="text" name="review" rows="5" required placeholder="Type your review here. It can be as long or as short as you want." required>
      </div>
      <div class="form-group">
          <label for="input-rating">Choose your rating</label>
          <select id="input-rating" class="form-control" name="rating">
            <option selected>10</option>
            <option>9</option>
            <option>8</option>
            <option>7</option>
            <option>6</option>
            <option>5</option>
            <option>4</option>
            <option>3</option>
            <option>2</option>
            <option>1</option>
          </select>
      </div>
      <div class="form-group">
          <label for="input-date">Date</label>
        <input class="w3-input form-control" id="input-date" type="text" name="reviewdate" required placeholder="Academic year in which you took this course. e.g. 2018-2019" required>
      </div>


      <button type="submit" class="w3-button w3-right w3-theme navy" style="color:white">Send</button>
      </form>
    </div>

</div>

{% endblock %}
